# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data besar (di-comment supaya TIDAK di-ignore, karena mau di-track via Git LFS)
# data/VADER_labeled.csv
# data/VADER_labeled.zip
# models/model_cnn_terbaik.h5